/* navigation left-hand side */

body {
    display: flex;
    flex-direction: column;
}

header {
    order: -1;
}

footer {
    order: 1;
}

#nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#nav-articles {
    padding: 1rem;
}

#one, #two {
    display: flex;
}

#nav-one, #nav-two {
    order: -1;
}
